body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.App {
  text-align: center;
}
.poke-card {
  display: flex;
  width: 80%;
  margin: 10px auto;
  border: 1px solid black;
}
.poke-card .poke-card-left {
  width: 60%;
}
.poke-card .poke-card-left .poke-stats {
  border: 1px solid black;
  text-align: left;
  padding-left: 10px;
}
.poke-card .poke-card-right {
  width: 40%;
}
.poke-card .poke-card-right .poke-type {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.poke-card .poke-card-right .poke-type p {
  background-color: #F98133;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
}
.poke-card .poke-card-right .poke-skills {
  border: 1px solid black;
  text-align: left;
  padding: 5px 0px 0px 5px;
}
.poke-card .poke-card-right .poke-skills p {
  padding-left: 15px;
}
