
.poke-card {
  display: flex;
  width: 80%;
  margin: 10px auto;
  border: 1px solid black;

  .poke-card-left {
    width: 60%;

    .poke-stats {
      border: 1px solid black;
      text-align: left;
      padding-left: 10px;
    }
  }

  .poke-card-right {
    width: 40%;

    .poke-type {
      border: 1px solid black;
      display: flex;
      justify-content: space-between;
      padding: 0px 15px;

      p {
        background-color: #F98133;
        color: white;
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px;
      }
    }

    .poke-skills {
      border: 1px solid black;
      text-align: left;
      padding: 5px 0px 0px 5px;

      p {
        padding-left: 15px;
      }
    }
    
  }
}